<% pending_approvals.each do |pending_approval| %>
	<div class='homepage-block col-md-3'>
		<h4>
		<%= pending_approval.user.full_name %>
		</h4>

		<h5>
		<span class='pending-details'>Date Submitted:</span> <%= pending_approval.date %>
		</h5>

		<h5>
		<span class='pending-details'>Rationale:</span> <%= truncate pending_approval.rationale, length: 50 %>
		</h5>

		<div class='row'>
			<div class='col-md-6 column'>
				<%= link_to 'Approve', root_path, class: 'btn btn-primary btn-block' %>
			</div>
			
			<div class='col-md-6 column'>
				<%= link_to 'Review', root_path, class: 'btn btn-danger btn-block' %>
			</div>
		</div>
	</div>
<% end %>