<% recent_confirmed_audit_items.each do |recent_confirmed_audit_items| %>
	<div class='homepage-block col-md-5'>
		<h4>
		<%= recent_confirmed_audit_items.user.full_name %>
		</h4>

		<h5>
			<span class='pending-details'>Week starting:</span> <%= recent_confirmed_audit_items.start_date.strftime("%a %b %d") %>

		<h5>
			<span class='pending-details'>Confirmed by</span> <%= recent_confirmed_audit_items.user.first_name %>, <%= recent_confirmed_audit_items.updated_at.strftime("%a %b %d") %> at <%= recent_confirmed_audit_items.updated_at.strftime("%r") %>
		</h5>

		<h5>
			<span class='pending-details'>Status:</span> <%= status_label recent_confirmed_audit_items.status %>
		</h5>

	</div>
<% end %>